html {
  box-sizing: border-box;
  font-family: "Merriweather", normal;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

header {
  padding: 1.5rem;
}

h1, h2, h3 {
  font-style: italic;
  font-weight: normal;
  font-size: 1.8rem;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "banner banner banner" "col1 col2 col3";
  gap: .75rem;
}

.banner-img {
  grid-area: banner;
}

.banner-text {
  grid-area: banner;
  align-self: end;
  z-index: 1;
  color: #fff;
  padding: 1rem;
}

figure {
  padding: 0;
  margin: 0;
}

figcaption {
  padding-left: 1rem;
  margin-top: 0;
}
